.custom-container{
    width: 80%;
    padding: 100px 0;
    margin: auto;
}


@media screen and (max-width:1400px) {
    .custom-container{
        padding: 80px 0 ;
        margin: auto;
    }
}
@media screen and (max-width:1200px) {
    .custom-container{
        max-width: 1170px;
    }
}
@media screen and (max-width:992px) {
    .custom-container{
        padding: 60px 0 ;
        margin: auto;
        max-width: 970px;
    }
}
@media screen and (max-width:768px) {
    .custom-container{
        max-width: 750px;
    }
}
@media screen and (max-width:576px) {
    .custom-container{
        padding: 40px 0 ;
        margin: auto;
    }
}
@media screen and (max-width:425px) {
    .custom-container{
        padding: 30px 0 ;
        margin: auto;
    }
}